<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h LoadReporter</name>
  <service>
    <type>_loadreporter._tcp</type>
    <port>8086</port>
  </service>
</service-group>
