[Unit]
Description = Report load average
After = network.target

[Service]
Type = simple
ExecStart = /usr/local/bin/loadreporter
User = systemd
Restart = on-failure
SyslogIdentifier = loadreporter
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
