[Unit]
Description = Report load average
After = network.target # Assuming you want to start after network interfaces are made available

[Service]
Type = simple
ExecStart = python <Path of the script you want to run>
User = systemd # User to run the script as
# Group = # Group to run the script as
Restart = on-failure # Restart when there are errors
SyslogIdentifier = loadreporter
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target # Make it accessible to other users
